@use "./Sass/variable";
@use "./Sass/header";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  padding: 1rem 2rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-family: variable.$kaushanscript;
  text-transform: capitalize;
}
.about {
  font-family: variable.$poppins;
}
.about::first-letter {
  text-transform: uppercase;
}
.projects {
  font-family: variable.$jost;
  text-transform: uppercase;
}
.image {
  width: 30rem;
  border: 0.25rem solid gray;
}
