@use "./variable";
@use "./navbar";
@use "./logo";

.header {
  background-color: variable.$main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.menu {
  color: variable.$sec;
  font-size: 3.25rem;
}
@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
